<h1>Displaying Your Playlist: {{plName}}, created by {{plOwner}} </h1>

{{#if tracks}}
    <ul>
        {{#each tracks}}
            <li>
                <h2>{{#if track.artists}}
                    {{#each track.artists}}
                            {{this.name}}{{#unless @last}},{{/unless}}
                        {{/each}}
                    {{/if}}-  {{this.track.name}}</h2>
            </li>
        {{/each}}
    </ul>
{{/if}}